/* Posicione o Mário acima do Goomba. */
.super-mario {
  position: absolute;
  width: 200px;
}

.goomba {
  inset: 375px 0 0 60px;
  position: absolute;
  width: 100px;
}

/* Posicione a tag p para que fique dentro do balão de fala. */

/* Posicione o balão para que se torne uma fala de Bowser. */
.baloon {
  inset: 150px 0px 0px 210px;
  position: absolute;
  z-index: 1;
}

.speech {
  font-size: 25px;
  inset: 190px 0 0 230px;
  position: absolute;
  z-index: 2;
}

.bowser {
  inset: 340px 0 0 500px;
  position: absolute;
  width: 200px;
}