/* Para o próximo exercício, você não deve atribuir nenhuma classe ou id aos componentes, mas apenas utilizar pseudoclasses para individualizar cada elemento! */

/* Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda. */
div:hover {
  border: 4px dashed yellow;
}

/* Faça cada div ter uma cor própria. */
div:nth-of-type(1) {
  background-color: blue;
}

div:nth-of-type(2) {
  background-color: purple;
}

div:nth-of-type(3) {
  background-color: orangered;
}

div:nth-of-type(4) {
  background-color: darkolivegreen;
}

div:nth-of-type(5) {
  background-color: lightcoral;
}
/* Estilize cada uma das tags h3. */

div:nth-of-type(1) h3 {
  color: orange;
}

div:nth-of-type(2) h3 {
  color: yellow;
}

div:nth-of-type(3) h3 {
  color: blue;
}

div:nth-of-type(4) h3 {
  color: white;
}

div:nth-of-type(5) h3 {
  color: green;
}

/* Faça a terceira div ser maior que as demais. */
div:nth-of-type(3) {
  height: 60px;
}

/* Deixe as tags ímpares h3 com o texto em itálico. */
div:nth-of-type(odd) h3 {
  font-style: italic;
}