@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  font-family:  'Lobster', cursive;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: brown;
}

header p {
  text-shadow: 1px 1px 1px white;
  text-align: center;
  color: goldenrod;
  font-size: 30px;
  margin-bottom: 20px;
}

header ul {
  list-style: none;
}

header li {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  margin: 12px;
  padding: 5px 10px;
  background-color: goldenrod;
}
