@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  padding: 0 15px;
  font-family:  'Lobster', cursive;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: brown;
}

ul {
  list-style: none;
}

header p {
  text-shadow: 1px 1px 1px white;
  text-align: center;
  color: goldenrod;
  font-size: 31px;
  margin-bottom: 20px;
}

header li {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  margin: 12px;
  padding: 10px 25px;
  background-color: goldenrod;
}

.container {
  display: flex;
  flex-flow: column;
}

#asides {
  background-color: lightseagreen;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.aside-one ul, .aside-two ul {
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-top: 10px;
  line-height: 20px;
}

.aside-one, .aside-two {
  padding: 15px 15px 30px 15px;
}

.aside-one h2, .aside-two h2 {
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0, 0.25);
}

.main-content {
  margin: 30px 0;
  align-self: center;
  max-width: 85%;
}

.main-content p {
  font-family: Arial, sans-serif;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 15px;
}

.main-content h1 {
  font-size: 25px;
}

footer {
  align-items: center;
  color: white;
  background-color: darkslategray;
  align-self: center;
  padding: 15px 7%;
  display: flex;
  flex-flow: column;
}

footer h3 {
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer p:nth-of-type(1) {
  text-align: center;
}

footer p:nth-of-type(2) {
  text-align: center;
}

@media screen and (min-width: 768px) {
  header ul {
    display: flex;
  }

  header {
    height: 40vh;
  }

  header ul {
    display: flex;
  }

  header p {
    font-size: 50px;
    margin-bottom: 40px;
  }

  #asides {
    padding: 20px 0;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .aside-two ul{
    padding: 30px 15px;
    line-height: 30px;
  }

  .aside-one ul {
    line-height: 22px;
  }

  header li {
    padding: 10px 35px;
  }

  .main-content {
    max-width: 75%;
  }
}

@media screen and (min-width: 992px) {
  header p {
    font-size: 70px;
  }

  header li {
    border-radius: 8px;
    padding: 12px 50px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.25);
  }

  .aside-one ul {
    line-height: 30px;
    padding: 20px 20px;
    display: flex;
  }

  .aside-one div {
    margin: 0 15px;
  }

  #asides {
    justify-content: space-evenly;
  }

  footer {
    width: 100%;
    padding: 10px 0;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  footer h3 {
    margin: 0;
    margin-right: 20px;
  }

  footer div {
    margin-left: 20px;
  }

  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 55%;
  }

  footer p {
    margin: 0;
    text-align: center !important;
  }

  footer p:nth-of-type(1) {
    margin-bottom: 5px;
  }

  .main-content {
    max-width: 65%;
  }

  .main-content p {
    line-height: 24px;
  }
}