* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#counter {
  font-size: 80px;
}

#click-button {
  background-color: darkslateblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 20px;
}

#click-button:active {
  background-color: brown;
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
}
