form {
  padding: 5px;
  text-align: center;
}

#article-header {
  text-align: center;
}

article {
  text-align: center;
}

.column {
  padding: 15px;
  text-align: justify;
  vertical-align: top;
  width: 40%;
  display: inline-block;
}

form div {
  display: inline-block;
}