* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #505050;
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
}

main {
  background-color: #ffffff1a;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 550px;
  padding: 35px 30px 7px;
  text-align: center;
}

h1, button {
  color: white;
  margin-bottom: 30px;
}

button {
  background-color: #9d1fae;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

button:hover {
  background-color: rgb(190, 38, 150);
  transition: all 0.4s;
}

button:active {
  background-color: rgb(250, 50, 150);
}

h2 {
  background-color: #ffffff1a;
  border-radius: 5px;
  color: #e8a4f0;
  padding: 10px;
}

p {
  margin-top: 10px;
  color: greenyellow;
  font-size: 14px;
  height: 20px;
}
