* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: rgb(50, 50, 50);
  color: white;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
}

form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column nowrap;
  min-width: 550px;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
}

#validation-target {
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 20px;
}

label {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

#select-validation {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 0;
}

.validation-btn {
  background-color: aqua;
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 0;
  margin-bottom: 5px;
}

.validation-btn:hover {
  color: white;
  background-color: rgb(240, 160, 190);
}

.validation-btn:active {
  background-color: rgb(255, 100, 200);
}

#result-p {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  padding: 5px 10px;
}
